.popupContainer{
    position: absolute;
    background-color: white;
    width: 25rem;
    aspect-ratio: 1 / 1;
    top: 20%;
    left: 60%;
    z-index: 100;
    box-shadow: black 1rem 1rem;
    padding-left: 1rem;
}

.topTracks{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1rem;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.popupHeader{
    font-size: 2rem;
    padding-top: 1rem;
}

.track{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    object-fit: contain;
    width: 70px;
    aspect-ratio: 1 / 1;
    color: white;
    text-align: center;
}

.closeButton{
    position: absolute;
    top: 0;
    right: 0;
};

.artistHeader{
    padding: 1rem;
    line-height: 2rem;
};
