.albumPicContainer{
    align-content: center;
    object-fit: cover;
    max-height: 4rem;
}
.albumPic{
    max-height: 100%;
}
.songInfoContainer{
    align-content: center;
}
.trackContainer{
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}