.spotifyHeader{
    display: block;
    margin: auto;
    text-align: center;
}
.spotifyInputContainer{
    text-align: center;
}
.spotifyContainer{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(3.5%);
}